@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Fira Sans', sans-serif;
}

header {
    height: 90vh;
    box-sizing: border-box;
}

li,a,button {
    font-weight: 400;
    font-size: 20;
    text-decoration: none;
    color: black;
}
.logo{
    font-weight: 400;
    font-size: 20;
    text-decoration: none;
    color: black;
    margin-top: 3vh;
    margin-left: 5vh;
}
.nav-links{
    text-decoration: none;
}

.logo{
    font-weight: 400;
    color: black;
    font-size: 20px;
}

.firstletter{
    font-weight: bold;
    font-size: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 3vh;
    right: 5vh;
    cursor: pointer; 
    color: black;
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
  }

.logo{
    cursor: pointer;
    user-select: none;
}



.main-nav li {
    text-align: center;
    margin: 15px auto;
}


.main-nav {
    list-style-type: none;
    user-select: none;
}

@media screen and (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 100px;
    }
    .main-nav li {

        display: inline-block;
        padding: 0px 20px;
    }
    .navbar-toggle{
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .logo{
        font-weight: 400;
        font-size: 20;
        text-decoration: none;
        color: black;
        margin-top: 0;
        margin-left: 0;
    }
    

    




}
.cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.profile{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-bottom: 20px;
}

.cta h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 15px;
}

.cta h2{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3vh;
}




.i1{
    padding-right: 2vh;
}